<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="AuthenticationWCF_Server.ServiceHello" 
               behaviorConfiguration ="AuthenticationWCF_Server_Behavior">
        <endpoint address="" binding="wsHttpBinding" 
                  contract="AuthenticationWCF_Server.IServiceHello" 
                  bindingConfiguration="AuthenticationWCF_Server_Config"></endpoint>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="AuthenticationWCF_Server_Config">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      
      <serviceBehaviors>
        <behavior name="AuthenticationWCF_Server_Behavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None"/>
            </clientCertificate>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                                    customUserNamePasswordValidatorType="AuthenticationWCF_Server.App_Code.Authentication.CustomValidator,App_Code.Authentication "/>
            <serviceCertificate  findValue="AuthenticationWCF_Server" 
                                 storeName="My" 
                                 storeLocation="CurrentUser" 
                                 x509FindType="FindBySubjectName"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
