<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IServiceHello">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:34122/ServiceHello.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IServiceHello" contract="ServiceReferenceClient.IServiceHello"
                name="WSHttpBinding_IServiceHello">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAHXLFnTHN18wyWqLCoY3TrcO9Z50gAAAAAQAAAGACAAAwggJcMIICCqADAgECAhBv5rOIb2JfkU6pwx9DjZ05MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTgxMTIxMTk1MTQ3WhcNMzkxMjMxMjM1OTU5WjA7MTkwNwYDVQQDHjAAQQB1AHQAaABlAG4AdABpAGMAYQB0AGkAbwBuAFcAQwBGAF8AUwBlAHIAdgBlAHIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDEBODrgrLmAtTf6VPOz9xdZEjhApycj8EJlSxiJFdAuJXVrCQ+RYUN5aRd9Z+8ylhWEP+f1VKISCTQxTyxm2cLiq8BQUVp5sLLHnKyN3U8Iq8YJRKTE+dC9n7lMkng9K9qLtmeA68vB7lykOv2cnnfABlQ57eWDmx/h8Ng6c4bmzLNaHQ+Bpo4wF6dGlK+a1Rescte/fZrgPzj2QXDco9IaZBdMLIMk2yuL39t4SmekvaAsD3dRHo+mWHGH1aw3h117KYuQMTfJVDBO6BMWK6EGoVpBtb+jcOLALjHepz1pbROQql4qXWJkGv4ssNggE8Q/mPmth3K4uW6euX7YnkRAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EATi2MkgvJgmE987rO357XXwLVV1p3q//mCpt1vOey+b4ysFrgqyuowM3L1gXtlkP+foXZ0wNjSJUBZr0gwWG40A==" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>